{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1>Admin</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-8">
            {% include 'message.twig' %}
            <p>Select an adminstrator action from the navigation bar above.</p>
        </div>
    </div>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
