{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1>Sorry!</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
	    <p>/{{page}} is not implemented yet.</p>
        </div>
    </div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
