{% extends 'page.twig' %}

{% block header %}
    <h1>Password Reset</h1></h1>
{% endblock header %}

{% block navigation %}
{% endblock navigation %}

{% block main %}
    <div class="row" id="frontpage">
	<div class="col-md-6 col-md-offset-3">
	    {% include 'message.twig' %}
	    {% if not done %}
		<form action="{{base}}/forgot" method="post" class="well">
		    <fieldset>
			<legend>Send Password Reset Message</legend>
			<div class="form-group">
			    <label for="el" class="control-label">User Name</label>
			    <input type="text" id="el" name="eorl" placeholder="Your user name or email address" class="form-control input-sm" required="required"/>
			</div>
			<button class="btn btn-primary btn-sm" type="submit">Reset</button>
		    </fieldset>
		</form>
	    {% endif %}
	</div>
    </div>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
