{% extends 'page.twig' %}

{% block header %}
    <div class="col-md-12">
	<h1>Upload</h1>
    </div>
{% endblock header %}

{% block main %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
	    <form action="#" method="post" role="form" enctype="multipart/form-data">
		<div class="form-group">
		    <label for="f0" class="control-label">File</label>
		    <input type="file" id="f0" name="uploads[]" class="form-control" required="required"/>
		</div>
		<button class="btn btn-primary" type="submit">Upload</button>
	    </form>
        </div>
    </div>
{% endblock main %}


{% block pagefooter %}
{% endblock pagefooter %}